.about {
  position: relative;
  margin-bottom: 70px;

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-20%);

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: initial;
    }
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 40px;
  }

  &__info {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 80px;
    padding-top: 30px;

    &-image {
      display: flex;
    }

    &-block {
      max-width: 893px;
      display: flex;
      flex-direction: column;
      grid-gap: 30px;
    }

    &-name {
      font-size: 46px;
      line-height: 110%;
      font-weight: 800;
    }

    blockquote {
      position: relative;
      max-width: 700px;
      margin: 0;
      padding-left: 30px;

      p {
        font-size: 18px;
        line-height: 110%;
        font-style: italic;
        color: #000;

        &::before {
          position: absolute;
          content: var(--quote-left);
          display: inline-block;
          top: -5px;
          left: 0;
          width: 23px;
          height: 17px;
        }

        &::after {
          position: absolute;
          content: var(--quote-right);
          display: inline-block;
          width: 23px;
          height: 17px;
          margin-left: 6px;
          bottom: -5px;
        }
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      grid-gap: 15px;

      li {
        display: flex;
        align-items: center;
        grid-gap: 12px;
        font-size: 18px;
      }

      span {
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        border-radius: 120px;
        background-color: var(--color-blue-light);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      svg {
        fill: var(--color-blue);
      }
    }
  }
}
