.bonus {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;

  @media screen and (max-width: 1400px) {
    width: 100%;
    margin-left: 20px;
  }

  @media screen and (max-width: 991px) {
    margin-left: 0;
  }


  &__info {
    position: relative;
    max-width: 380px;
    width: 100%;
    padding: 10px 12px;
    background-color: var(--color-orange);
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    @media screen and (max-width: 991px) {
      max-width: 360px;
      margin-left: 20px;
    }

    @media screen and (max-width: 576px) {
      margin-left: 0;
      padding: 8px;
    }

    p {
      max-width: clamp(235px, 24.414vw, 250px);
      font-size: clamp(14px, 1.465vw, 15px);
      color: var(--color-white);

      span {
        display: block;
        font-weight: 800;
      }
    }
  }

  &__banner {
    position: absolute;
    left: -30px;
    bottom: -10px;

    @media screen and (max-width: 576px) {
      width: 122px;
      height: 160px;
      left: -10px;
      bottom: -15px;
    }
  }

  &__timer {
    margin-left: 120px;
    width: fit-content;
  }
}
