.form {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(12px, 2.604vw, 20px);

  &__label {
    position: relative;
    padding: clamp(18px, 2.148vw, 22px) clamp(20px, 2.832vw, 29px);
    display: flex;
    align-items: center;
    grid-gap: 6px;
    background-color: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--color-blue);

    .icon {
      display: flex;
      border-radius: 3px;
      overflow: hidden;
      flex-shrink: 0;
    }
  }

  input {
    font-size: 18px;
    line-height: 122%;
    color: var(--color-black);
    border-radius: 10px;

    &::placeholder {
      font-size: 18px;
      line-height: 122%;
      color: var(--color-black);
    }
  }
}
