h1 {
  font-size: clamp(48px, 5.469vw, 56px);
  line-height: 110%;
  font-weight: 700;

  span {
    color: var(--color-blue);
  }
}

h2 {
  max-width: 708px;
  font-size: clamp(36px, 3.194vw, 46px);
  line-height: 110%;
  font-weight: 800;
  text-align: center;

  span {
    color: var(--color-blue);
  }

  @media screen and (max-width: 768px) {
    font-size: clamp(28px, 4.688vw, 36px);
  }
}



