h1 {
  font-size: clamp(40px, 3.889vw, 56px);
  line-height: 110%;
  font-weight: 700;

  span {
    color: var(--color-blue);
  }

  @media screen and (max-width: 768px) {
    font-size: clamp(24px, 5.208vw, 40px);

    br {
      display: none;
    }
  }
}

h2 {
  max-width: clamp(620px, 36.979vw, 710px);
  font-size: clamp(36px, 2.396vw, 46px);
  line-height: 110%;
  font-weight: 800;
  text-align: center;

  span {
    color: var(--color-blue);
  }

  @media screen and (max-width: 768px) {
    font-size: clamp(28px, 4.688vw, 36px);
  }

  @media screen and (max-width: 576px) {
    max-width: 310px;
  }
}



