:root {
  /* -- Fonts --*/
  --font-family-exo: "Exo2", sans-serif; // var(--font-family-exo);

  /* -- Colors --*/
  --color-white: #fff; // var(--color-white);
  --color-black: #0F0F0F; // var(--color-black);






}








